@import url("https://fonts.googleapis.com/css2?family=Roboto:wght#400;700&&display=swap");

:root {
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  /* transparency is created using the last number in the row. 1 means no transparency while any number less than will create transparency. */
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  /* transform: translateX helps to bring the titles to the center of their repsective side. Otherwise they will try to center on the background image. */
  white-space: nowrap;
  /* white-space: nowrap; prents text in the header from wraping down when building a responsive website. */
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  color: #fff;
  border: #fff solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}
/* left and top adjuest the button location on their respective areas. Remember everything naturally centers to their specific image. */

.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

/* .split begins the split process. items will overlap one another. */
.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

/* Separation of the two begins here. Specifically when you through xbox to the right as it was previously on the playstation side merging with the text. Each set of text is assigned the split class followed by their side class. Remember you can name classes anything you want just make sure that whoever succeeds you can look at your code and understand what is occurring. */
.split.left {
  left: 0;
  background: url("IMG/ps.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}

.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}

.split.right {
  right: 0;
  background: url("IMG/xbox.jpg") center;
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}

.split.right,
.split.left,
.split.right::before,
.split.left::before {
  transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}
/* these inputs regarding hovering and width allow the images to expand as the cursor is moving over them when JS is added. */
.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}
/* these inputs regarding hovering and width allow the images to expand as the cursor is moving over them when JS is added. */
.hover-right .left {
  width: var(--other-width);
}

@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .btn {
    padding: 1.2rem;
    width: 12rem;
  }
}
